@charset "utf-8";
#container {
	width: 700px;
	min-height: 700px;
	float: left;
	margin: 15px 35px;
}
#states path {
	fill: #585858;
	stroke: #000000;
	stroke-width: 1.5px;
}

#states path:hover {
	fill: #009300;
}

#states .active {
	fill: #00B700;
}

#states .activeDetail {
	fill: #00B700;
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 12px;
	fill: #fff;
}
/* 메인 비쥬얼*/
.main_vis_wrap{width:100%; height:100vh; overflow:hidden; position:relative;}

.main_vis_wrap .main_vis_txt_wrap{position:absolute;top:0; left:0; z-index:1; width:100%; height:100%; background:url('/dogproject/images/main/main_bg_dot.png') repeat 0 0; vertical-align:middle;box-sizing:border-box; display:table;}
	.main_vis_txt_wrap .txt_wrap{text-align:center; width:100%; height:100%; vertical-align:middle;box-sizing:border-box; color:#FFF; display:table-cell; text-align:center;}
	.main_vis_txt_wrap .txt_wrap .t1{font-family: 'yg-jalnan', 'crd';  color:#FFF; font-size:3em; line-height:1.3em;}
	.main_vis_txt_wrap .txt_wrap .t0 img{display:inline;}
	.main_vis_txt_wrap .txt_wrap .t0{margin-bottom:10px;}
.main_vis_wrap .main_vis_img_wrap{height:100%;}
	.main_vis_img_wrap .vis_img{width:100%; height:100%; background:no-repeat center center; background-size:cover; }
	.main_vis_img_wrap .vis_img.img1{background-image:url(/dogproject/images/main/main_vis_01.png);}
	.main_vis_img_wrap .vis_img.img2{background-image:url(/dogproject/images/main/main_vis_02.png);}
	.main_vis_img_wrap .vis_img.img3{background-image:url(/dogproject/images/main/main_vis_03.png);}
.main_vis_wrap .slick-list,
.main_vis_wrap .slick-track{height:100%;}
.main_vis_wrap  .slick-dots{bottom:unset; top:35em;}

@media all and (max-width:750px) {
	.main_vis_txt_wrap .txt_wrap .t1{font-size:2.6em;}
}

@media all and (max-width:550px) {
	.main_vis_txt_wrap .txt_wrap .t1{font-size:2.5em;}
}

@media all and (max-width:400px) {
	.main_vis_txt_wrap .txt_wrap .t1{font-size:2.3em;}
	.main_vis_txt_wrap .txt_wrap .t1 br.mo{display:block}
}


/**/
.main_tit_wrap{width:98%; margin:0 auto; text-align:Center; padding:15vh 0 5vh; box-sizing:border-box;}
.main_tit_wrap .tit{font-family:'crd'; font-size:2.5em; font-weight:200; line-height:1.1em}
.main_tit_wrap .con{margin-top:20px; word-break:keep-all;}

@media all and (max-width:1100px) {
	.main_tit_wrap .tit{font-size:2.2em;}
	.main_tit_wrap{width:96%; padding:13vh 0 4vh;  }
	.main_tit_wrap .con{font-size:0.94em;}
}

@media all and (max-width:650px) {
}

@media all and (max-width:550px) {
	.main_tit_wrap{padding:11vh 0 4vh;  }
}
@media all and (max-width:450px) {
	.main_tit_wrap{padding:7vh 0 3vh;}
}
@media all and (max-width:370px) {
	/* .main_tit_wrap{padding:9vh 0 3vh;} */
	.main_tit_wrap .tit{font-size:1.6em; line-height:1.4em}
	.main_tit_wrap .con{font-size:0.9em; margin-top:10px;}
}


.main_sec_wrap{width:100%; height:100%;}



#section1 .sec01_con_wrap{text-align:center;}
	.sec01_con_wrap .con_bx{display:inline-block; width:31%; margin:0 0.5%; position:relative; overflow:hidden; color:#FFF; cursor:pointer; vertical-align:top}
	.sec01_con_wrap .txt_wrap{padding:5vh 0 33vh; position:relative; z-index:1;}
	.sec01_con_wrap .txt_wrap .t1{font-size:2.3em; line-height: 1.3em;}
	.sec01_con_wrap .txt_wrap .t2{margin-top:20px;}
	.sec01_con_wrap .con_bx .img{position:absolute; top:0; left:0; z-index:0; width:100%; height:100%;
		-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center center; background-repeat:no-repeat;
		transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000); -webkit-transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000); transition:1000ms; -webkit-transition:1000ms; transform:translateZ(0) scale(1) rotate(0.1deg); -webkit-transform:translateZ(0) scale(1) rotate(0.1deg);
	}
	.sec01_con_wrap .con_bx.bx1 .img{background-image:url(/dogproject/images/main/sec01_img_01.png);}
	.sec01_con_wrap .con_bx.bx2 .img{background-image:url(/dogproject/images/main/sec01_img_02.png);}
	.sec01_con_wrap .con_bx.bx3 .img{background-image:url(/dogproject/images/main/sec01_img_03.png);}

	.sec01_con_wrap .con_bx:hover .img{transform:translateZ(0) scale(1.1) rotate(0deg); -webkit-transform:translateZ(0) scale(1.1) rotate(0deg); }

@media all and (max-width:1280px) {
	
}

@media all and (max-width:1100px) {
	.sec01_con_wrap{ width:100% !important}
	.sec01_con_wrap .con_bx{width:32%; margin:0 0.25%;}
}

@media all and (max-width:950px) {
	.sec01_con_wrap{}
	.sec01_con_wrap .txt_wrap .t1{font-size:2em;}
}

@media all and (max-width:650px) {
	.sec01_con_wrap{height:65%; width:96% !important}
	.sec01_con_wrap .con_bx{width:100%; height:31%; margin:1% auto; display:table; position:relative; overflow:hidden; color:#FFF; cursor:pointer; background:#000;}
	.sec01_con_wrap .con_bx .img{opacity:0.85}
	.sec01_con_wrap .txt_wrap{padding:0; display:table-cell; vertical-align:middle;}
	
	.sec01_con_wrap .txt_wrap .t1 br{display:none}
	.sec01_con_wrap .txt_wrap .t2{margin-top:10px;}
}

@media all and (max-width:550px) {
	.sec01_con_wrap .txt_wrap .t1{font-size:1.9em;}
}

@media all and (max-width:400px) {

}


/**/
.sec02_con_wrap{position:relative; padding-bottom: 30px;}
#section2{position:relative;}
#section2:before{content:""; position:absolute; width:100%; height:50%; top:0; left:0; background:#F5F5F5; display:Block; z-index:-1;}
.sec02_con_wrap .con_bx{ box-sizing:border-box; border:1px solid #ddd; border-left:0;}
.sec02_con_wrap .con_bx:first-child{border-left:1px solid #ddd;}
.sec02_con_wrap .con_bx .img{width:100%; overflow:hidden; max-height:238px;}
.sec02_con_wrap .con_bx .img img{width:100%;}
.sec02_con_wrap .con_bx .txt{width:100%; overflow:hidden; box-sizing:border-box; background:#FFF; padding:15px; border-top:3px solid #ccc;}
.sec02_con_wrap .con_bx .txt .t{font-weight:500; font-size:1.1em; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sec02_con_wrap .con_bx .txt .c{color:#343434; font-size:0.95em; margin-top:1em;width:95%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sec02_con_wrap .con_bx .txt a.link_st_1{display:inline-block; margin-top:2em; font-family:'crd'; text-transform:uppercase; font-size:0.85em; opacity:0.5;  font-weight:300;}
.sec02_con_wrap .con_bx:hover .txt a.link_st_1{font-weight:400; opacity:1; text-decoration:underline;}
.sec02_con_wrap .con_bx:hover .txt{border-top:3px solid #f9a21a;}

.sec02_con_wrap .slick-dots{bottom:unset; top:24em; display:none !important;}

.sec02_con_wrap .slick-list,
.sec02_con_wrap .slick-track{height:auto; max-height:395px;}

@media all and (max-width:1100px) {
	.sec02_con_wrap .slick-dots{display:inline-block !important;}

}
@media all and (max-width:550px) {
	#section2 .sec02_con_wrap{width:94%;}
	.sec02_con_wrap .con_bx .img{max-height:220px;}
	.sec02_con_wrap .con_bx .txt .c{margin-top:0.5em;}
	.sec02_con_wrap .con_bx .txt a.link_st_1{margin-top:1em;}
	.sec02_con_wrap .slick-dots{top:24em}
}
@media all and (max-width:370px) {
	.sec02_con_wrap .con_bx .img{max-height:180px;}
	.sec02_con_wrap .slick-dots{top:21.5em}

}



#section3{}
.sec03_top_wrap{width:100%; overflow:hidden; max-height:35%;}
.sec03_top_wrap .sec03_bx{width:50%; float:left; background:no-repeat center center; background-size:cover; box-sizing:border-box; text-align:center; cursor:pointer;}
.sec03_top_wrap .sec03_bx.bx1{background-image:url(/dogproject/images/main/sec03_img_00.png);}
.sec03_top_wrap .sec03_bx.bx2{background-image:url(/dogproject/images/main/sec03_img_01.png);}
.sec03_top_wrap .sec03_bx .box{position:relative; width:180px; display:inline-block;  margin:8vh auto;}
.sec03_top_wrap .sec03_bx .box:before{content:""; display:block; padding-top:100%;}
.sec03_top_wrap .sec03_bx .box .c{position:absolute; top:0; right:0; bottom:0; left:0; text-align:Center; color:#FFF; font-family:'crd'; padding:1.6em 0; font-weight:500; font-size:1.2em; line-height:1.6em; border:10px solid #FFF; box-sizing:border-box;}
.sec03_top_wrap .sec03_bx:hover .c{background:#FFF; color:#666;}

.sec03_bt_wrap{max-height:65%;}
.sec03_bt_wrap .main_tit_wrap{padding:6vh 0;}
.sec03_bt_wrap .sec03_bt_ul li{width:16.6%; float:left; margin:10px auto; text-align:Center;}
.sec03_bt_wrap .sec03_bt_ul li img{width:88%;}

@media all and (max-width:1280px) {
	.sec03_top_wrap .sec03_bx .box{width:160px; margin:5vh auto;}
	.sec03_top_wrap .sec03_bx .box .c{padding:1.3em 0; border:7px solid #FFF; font-size:1.15em}

	.sec03_bt_wrap .main_tit_wrap{padding:5vh 0;}
	.sec03_bt_wrap .main_tit_wrap .tit img{height:90px;}
	.sec03_bt_wrap .sec03_bt_ul li{margin:7px auto;}
	

}
@media all and (max-width:1200px) {
	.sec03_bt_wrap .sec03_bt_ul li img{width:83%; height:auto;}
}
@media all and (max-width:750px) {
	.sec03_top_wrap .sec03_bx .box{width:150px; margin:4vh auto;}
	.sec03_top_wrap .sec03_bx .box .c{padding:2em 0; font-size:1.1em; line-height:1.5em; border:6px solid #FFF; }
	
	.sec03_bt_wrap .main_tit_wrap{padding:4vh 0;}
	.sec03_bt_wrap .main_tit_wrap .tit img{height:75px;}
	.sec03_bt_wrap .main_tit_wrap .con br.pc{display:none;}
	.sec03_bt_wrap .sec03_bt_ul li img{width:80%; height:auto;}
	.sec03_bt_wrap .sec03_bt_ul li{width:33.3%; margin:5px auto;}
}
@media all and (max-width:550px) {
	.sec03_bt_wrap .main_tit_wrap{padding:3.5vh 0;}
	.sec03_bt_wrap .main_tit_wrap .tit img{height:70px;}
}

#fp-nav ul li:last-child{display:none !important}