@charset "utf-8";

/* sub_vis_wrap */
#sub_vis_wrap{position:relative; width:100%; clear:both}
	.visual-area {margin-top:0px; position:relative; width:100%; line-height:1.4; box-sizing:border-box;overflow:hidden;  background:repeat-x 50% 0; background-size:cover; -webkit-animation:animate_background 20s linear;-moz-animation:animate_background 20s linear;-o-animation:animate_background 20s linear;animation:animate_background 20s linear;}
	.visual-area .visual-area-in{ position:relative;display:table;width:100%; height:auto;  z-index:2}
	.visual-area .visual-area-txt {display:none;width:100%; vertical-align:middle; text-align:center; box-sizing:border-box;color:#fff; height: 19.5em; }
	.visual-area .visual-area-txt span {font-family: 'yg-jalnan', 'crd'; font-size:3em; font-weight:600; display:inline-block;}

#sub_vis_wrap.sub01 .visual-area .visual-area-txt.sub01,
#sub_vis_wrap.sub02 .visual-area .visual-area-txt.sub02,
#sub_vis_wrap.sub03 .visual-area .visual-area-txt.sub03,
#sub_vis_wrap.sub04 .visual-area .visual-area-txt.sub04,
#sub_vis_wrap.sub05 .visual-area .visual-area-txt.sub05{display:table-cell;}

#sub_vis_wrap.sub01 .visual-area { background-image:url("/dogproject/images/sub/sub_vis_01.png");}
#sub_vis_wrap.sub02 .visual-area { background-image:url("/dogproject/images/sub/sub_vis_02.png");}
#sub_vis_wrap.sub03 .visual-area { background-image:url("/dogproject/images/sub/sub_vis_03.png");}
#sub_vis_wrap.sub04 .visual-area { background-image:url("/dogproject/images/sub/sub_vis_04.png");}
#sub_vis_wrap.sub05 .visual-area { background-image:url("/dogproject/images/sub/sub_vis_05.png");}

@keyframes animate_background{ 
	0%    {background-position:50% 0;}
	50%  {background-position:50% 100%;}
	100%{background-position:50% 0.1%;}
}
@media all and (max-width:1000px) {
	.visual-area .visual-area-txt {height:25em }
	.visual-area .visual-area-txt span { font-size:2.5em;}
}
@media all and (max-width:750px) {
	.visual-area .visual-area-txt {height:18em }
	.visual-area .visual-area-txt span { font-size:2.2em;}
}



/* sub_tit_wrap */
.sub_tit_wrap{width:100%; overflow:hidden; font-weight:500; font-size:2.4em; text-align:center; margin:2em auto; line-height:1.1em; }
@media all and (max-width:1000px) {
	.sub_tit_wrap{font-size:2em}
}
@media all and (max-width:650px) {
	.sub_tit_wrap{font-size:1.8em}
}



/* sub_menu_wrap */
.sub_menu_tit{display:none; position:relative;}
	.sub_menu_tit .btn{position:absolute; width:25px; height:25px; right:10px; top:10px;}
	.sub_menu_tit .btn span{display:block; width:100%; height:100%; position:relative;}
	.sub_menu_tit .btn span:before{content:""; position:absolute; display:block; width:25px; height:1px; background:#FFF;top:50%; margin-top:-0.5px; transition-duration: 300ms;   transition-property: all;   transition-timing-function: ease;} 
	.sub_menu_tit .btn span:after{content:""; position:absolute; display:block; width:1px; height:25px; background:#FFF;left:50%; margin-left:-0.5px; }
	.sub_menu_tit.on .btn span:before{transform: rotate(45deg); transition-duration: 300ms;   transition-property: all;   transition-timing-function: ease;} 
	.sub_menu_tit.on .btn span:after{transform: rotate(45deg); transition-duration: 300ms;   transition-property: all;   transition-timing-function: ease;}

.sub_menu_wrap{margin-top:-70px; position:relative; z-index:5;}
	.sub_menu_wrap .sub_menu_box{display:none; width:100%; overflow:hidden; border-top:1px solid rgba(255,255,255,0.2); text-align:center; box-sizing:border-box; text-align:center;}
	.sub_menu_wrap .sub_menu_box li{box-sizing:border-box; display:inline; margin:0 25px; position:relative;  }
	.sub_menu_wrap .sub_menu_box li a{display:inline-block; height:70px; line-height:70px; color:rgba(255,255,255,0.7); font-weight:200;}
	.sub_menu_wrap .sub_menu_box li:hover a{color:#fff; }
	.sub_menu_wrap .sub_menu_box li a:after{display:block; content:''; width:100%; height:2px; position:absolute; left:0; bottom:-3px; background:#fff; transition:all .3s; transform:scaleX(0);}
	.sub_menu_wrap .sub_menu_box li:hover a:after{transform:scaleX(1);}
	.sub_menu_wrap .sub_menu_box li:first-child{border-left:0;}

.page01 .sub_menu_wrap .sub_menu_box li.m1 a,
.page02 .sub_menu_wrap .sub_menu_box li.m2 a,
.page03 .sub_menu_wrap .sub_menu_box li.m3 a,
.page04 .sub_menu_wrap .sub_menu_box li.m4 a,
.page05 .sub_menu_wrap .sub_menu_box li.m5 a,
.page06 .sub_menu_wrap .sub_menu_box li.m6 a,
.page07 .sub_menu_wrap .sub_menu_box li.m7 a,
.page08 .sub_menu_wrap .sub_menu_box li.m8 a{font-weight:500; color:#fff; }

.page01 .sub_menu_wrap .sub_menu_box li.m1 a:after,
.page02 .sub_menu_wrap .sub_menu_box li.m2 a:after,
.page03 .sub_menu_wrap .sub_menu_box li.m3 a:after,
.page04 .sub_menu_wrap .sub_menu_box li.m4 a:after,
.page05 .sub_menu_wrap .sub_menu_box li.m5 a:after,
.page06 .sub_menu_wrap .sub_menu_box li.m6 a:after,
.page07 .sub_menu_wrap .sub_menu_box li.m7 a:after,
.page08 .sub_menu_wrap .sub_menu_box li.m8 a:after{transform:scaleX(1);}

.page01 .sub_menu_wrap .sub_menu_box li.m1 a:after,
.page02 .sub_menu_wrap .sub_menu_box li.m2 a:after,
.page03 .sub_menu_wrap .sub_menu_box li.m3 a:after,
.page04 .sub_menu_wrap .sub_menu_box li.m4 a:after,
.page05 .sub_menu_wrap .sub_menu_box li.m5 a:after,
.page06 .sub_menu_wrap .sub_menu_box li.m6 a:after,
.page07 .sub_menu_wrap .sub_menu_box li.m7 a:after,
.page08 .sub_menu_wrap .sub_menu_box li.m8 a:after{transform:scaleX(1); }

.sub01 .sub_menu_box.sub01,
.sub02 .sub_menu_box.sub02,
.sub03 .sub_menu_box.sub03,
.sub04 .sub_menu_box.sub04,
.sub05 .sub_menu_box.sub05,
.sub06 .sub_menu_box.sub06,
.sub07 .sub_menu_box.sub07,
.sub08 .sub_menu_box.sub08{display:block;}

@media all and (max-width:1000px) {
	#sub_vis_wrap{padding-bottom:15px;}
	.sub_menu_wrap{width:95%; margin:-60px auto 0px; z-index:7; position:relative;}
	
	.sub_menu_tit{cursor:pointer; display:block; border:1px solid #fff; color:#FFF; height:45px; line-height:45px; box-sizing:border-box; padding:0 15px; font-weight:500; font-size:1em;}
	.sub_menu_wrap .sub_menu_box{ width:100%; overflow:hidden; position:absolute;  border-top:0; background:#FFF; z-index:9; border:1px solid #ddd; border-top:0; text-align:left;}
	.sub_menu_wrap .sub_menu_box li{width:100%; display:block; margin:0; padding:0 15px; font-size:0.95em;}
	.sub_menu_wrap .sub_menu_box li a{display:block; border-top:1px solid #ddd;  padding:0; height:35px; line-height:35px; color:#333;}
	.sub_menu_wrap .sub_menu_box li a:hover{color:#333; font-weight:500;}
	.sub_menu_wrap .sub_menu_box li:first-child a{border-top:0}

	.page01 .sub_menu_wrap .sub_menu_box li.m1 a,
	.page02 .sub_menu_wrap .sub_menu_box li.m2 a,
	.page03 .sub_menu_wrap .sub_menu_box li.m3 a,
	.page04 .sub_menu_wrap .sub_menu_box li.m4 a,
	.page05 .sub_menu_wrap .sub_menu_box li.m5 a,
	.page06 .sub_menu_wrap .sub_menu_box li.m6 a,
	.page07 .sub_menu_wrap .sub_menu_box li.m7 a,
	.page08 .sub_menu_wrap .sub_menu_box li.m8 a{font-weight:500; color:#FBA726; }

	.sub01 .sub_menu_box.sub01,
	.sub02 .sub_menu_box.sub02,
	.sub03 .sub_menu_box.sub03,
	.sub04 .sub_menu_box.sub04,
	.sub05 .sub_menu_box.sub05,
	.sub06 .sub_menu_box.sub06,
	.sub07 .sub_menu_box.sub07,
	.sub08 .sub_menu_box.sub08{display:none;}
}


#sub_content_wrap{position:relative; overflow:hidden; min-height:500px;}


/* 인사말 */
.sub0101_vis_wrap{width:96%; margin:0 auto; background:url(/dogproject/images/sub/sub0101_img_01.png) no-repeat center center; background-size:cover; height:480px;}
.sub0101_con_wrap{background:#FFF; padding:50px 50px 6em; box-sizing:Border-box; margin-top:-80px;}
.sub0101_con_wrap .tit{font-size:2em; font-weight:600; line-height:1.4em;}
.sub0101_con_wrap .con{margin:4em auto}
.sub0101_con_wrap .con>div{width:100%; overflow:hidden; margin-bottom:50px;}
.sub0101_con_wrap .con>div:first-child{margin-right:0;}
.sub0101_con_wrap .con>div b{display:block; margin-bottom:5px; margin-top:40px; font-size:1.16em;}
.sub0101_con_wrap .con>div b:first-child{margin-top:0; }
.sub0101_con_wrap .sign{}
.sub0101_con_wrap .sign span{display:block; margin-top:25px; font-size:1.1em}
.sub0101_con_wrap .sign span b{display:inline-block; margin-right:10px;}
.sub0101_con_wrap .sign span img{vertical-align:-webkit-baseline-middle}
@media all and (max-width:1200px) {
	.sub0101_vis_wrap{width:100%; height:400px;}
	.sub0101_con_wrap{width:94%; }
}
@media all and (max-width:650px) {
	.sub0101_vis_wrap{height:350px;}
	.sub0101_con_wrap{padding:35px 35px 6em;margin-top:-60px;}
	.sub0101_con_wrap .tit{font-size:1.6em; font-weight:600; line-height:1.4em; text-align:center;}
	.sub0101_con_wrap .tit br{display:none}
	.sub0101_con_wrap .sign{text-align:center;}
	.sub0101_vis_wrap{background-position:65% center}
}
@media all and (max-width:500px) {
	.sub0101_vis_wrap{height:300px;}
	.sub0101_con_wrap{padding:40px 25px 6em;margin-top:-60px;}
	.sub0101_con_wrap .sign span img{height:70px}
}

/* 연혁 */
.sub0103:before{content:""; position:absolute; display:block; width:53%; background:#F7F7F7; height:100%; top:0; right:0;}
.sub0103 .sub0103_box{float:left; box-sizing:Border-box; width:44.5%; padding:4em 0 0;}

.sub0103 .sub0103_box1 .txt{font-size:2.5em; margin-top:0.8em; font-weight:200;}
.sub0103 .sub0103_box1 .txt b{font-weight:600;}

.sub0103 .sub0103_box2 {width:55.5%; padding:4em 0 0 4em}
.sub0103 .sub0103_box2 .box_wrap{padding-bottom:4em;}
.sub0103 .sub0103_box2 .box_wrap .tit{font-size:1.9em; font-weight:200; line-height:1.3em; margin-bottom:1em; position:relative; letter-spacing:-0.05em}
.sub0103 .sub0103_box2 .box_wrap .tit b{font-weight:600;}
.sub0103 .sub0103_box2 .box_wrap .tit:before{content:""; width:50px; height:2px; background:#FAA21B; position:absolute; top:50%; margin-top:-1px; left:-2.5em;}
.sub0103 .sub0103_box2 .box_wrap .con{font-size:0.97em;  width:100%; overflow:hidden;}
.sub0103 .sub0103_box2 .box_wrap .con li{margin-bottom:0.8em; width:100%; overflow:hidden; color:#2f2f2f;}
.sub0103 .sub0103_box2 .box_wrap .con span.t{display:inline-block; width:140px; float:left;}
.sub0103 .sub0103_box2 .box_wrap .con span.c{display:inline-block; width:calc(100% - 140px); float:left; line-height:1.5em}

@media all and (max-width:1000px) {
	.sub0103 .sub0103_box1 img{height:68px;}
	.sub0103 .sub0103_box1 .txt{margin-top:0.4em; font-size:2.2em;}
	
	.sub0103 .sub0103_box2 .box_wrap .tit{font-size:1.8em; }
	.sub0103 .sub0103_box2 .box_wrap .con{font-size:0.95em;}
}

@media all and (max-width:750px) {
	.sub0103:before{display:none; }
	
	.sub0103 .inner{width:100%;}
	.sub0103 .sub0103_box{padding:0em 0 0;}

	.sub0103 .sub0103_box1{width:100%; text-align:center; padding-bottom:2em;}
	.sub0103 .sub0103_box1 img{height:65px;}
	.sub0103 .sub0103_box1 .txt{font-size:1.8em; margin-top:20px; line-height:1.6em;}
	.sub0103 .sub0103_box1 .txt br.pc{display:none;}

	.sub0103 .sub0103_box2{width:100%; padding:4em 3% 0 1%; position:relative;}
	.sub0103 .sub0103_box2:before{content:""; position:absolute; display:block; width:97%; background:#F7F7F7; height:100%; top:0; right:0; z-index:-1;}
	.sub0103 .sub0103_box2 .box_wrap{}
	.sub0103 .sub0103_box2 .box_wrap .tit{font-size:1.6em; padding-left:9%; box-sizing:border-box;}
	.sub0103 .sub0103_box2 .box_wrap .tit:before{left:0; width:6%; }
	.sub0103 .sub0103_box2 .box_wrap .con{ padding-left:9%; box-sizing:border-box; font-size:0.95em;}
	.sub0103 .sub0103_box2 .box_wrap .con span.t{width:120px;}
	.sub0103 .sub0103_box2 .box_wrap .con span.c{width:calc(100% - 120px);}
}

@media all and (max-width:550px) {
	.sub0103 .sub0103_box1 img{height:55px;}
	.sub0103 .sub0103_box1 .txt{font-size:1.8em; word-break:keep-all; }
}

@media all and (max-width:400px) {
.sub0103 .sub0103_box1 .txt{font-size:1.7em;}
}




/* CI소개 */
.sub0104_bx{width:100%; overflow:hidden;}
.sub0104_bx .tit{font-size:1.2em; margin-bottom:4em; text-decoration:underline; font-weight:600;}

.sub0104_bx_1{margin:0 auto 8em; }
.sub0104_bx_1 img{width:320px}
.sub0104_bx_1 .s_txt{margin-top:4em; line-height:1.6em; font-size:1.05em; word-break:keep-all}

.sub0104_bx_2{}
.sub0104_bx_2 .bx_wrap{width:25%; float:left; box-sizing:border-box; color:#FFF; padding:5.5em 0;}
.sub0104_bx_2 .bx1{background:#FFa300}
.sub0104_bx_2 .bx2{background:#8CC947}
.sub0104_bx_2 .bx3{background:#000}
.sub0104_bx_2 .bx4{background:#FFF; border:1px solid #eee; border-left:0; color:#000;}
.sub0104_bx_2 .bx_wrap .t{font-size:1.2em; font-weight:600; line-height:1.2em; margin-bottom:20px;}

.sub0104_bx_3{margin:8em auto; }
.sub0104_bx_3 .s_txt{margin-top:4em; line-height:1.6em; font-size:1.05em;word-break:keep-all}

.sub0104_bx_4{ background:url(/dogproject/images/sub/sub0104_img_05.png) repeat 0 0; background-size:10px; padding:4em 20px;  box-sizing:border-box;}
.sub0104_bx_4 .bx_wrap{margin-top:4em;}
.sub0104_bx_4 .bx_wrap:first-child{margin-top:0;}
.sub0104_bx_4 .bx_wrap .t{display:inline-block; background:#000; color:#FFF; font-weight:500; padding:4px 6px 1px; line-height:1em;}
.sub0104_bx_4 .bx_wrap .c{display:inline-block; margin-top:10px;}
.sub0104_bx_4 .bx_wrap img{display:block; margin:30px auto 0;}

.sub0104_bx_5{ background:url(/dogproject/images/sub/sub0104_img_06.png) repeat 0 0; padding:15em 20px;  box-sizing:border-box; text-align:center; background-size:cover; margin:8em auto;}

@media all and (max-width:750px) {
	.sub0104_bx_1 .s_txt br.pc,
	.sub0104_bx_3 .s_txt br.pc{display:none;}
	.sub0104_bx_1 img,
	.sub0104_bx_5 img{width:240px}

	.sub0104_bx_5{padding:10em 15px;}
	.sub0104_bx_4{padding:4em 15px;}

	.sub0104_bx_2 .bx_wrap{width:50%; padding:4.5em 0;}

	.sub0104_bx .tit{font-size:1em;}

}
@media all and (max-width:500px) {
	.sub0104_bx_1 img,
	.sub0104_bx_5 img{width:200px}

	.sub0104_bx_2 .bx_wrap{padding:3.5em 0;}
	.sub0104_bx_2 .bx_wrap .t{margin-bottom:15px;}

	.sub0104_bx_5{padding:10em 10px;}
	.sub0104_bx_4{padding:4em 10px;}
}
@media all and (max-width:400px) {
	.sub0104_bx_1 img,
	.sub0104_bx_5 img{width:180px}

	.sub0104_bx_2 .bx_wrap{ padding:2.5em 0;font-size:0.98em}
	.sub0104_bx_2 .bx_wrap .t br.mo{display:block;}
}

/* 인증서 */
.sub0105_st_01 li{width:19%; margin:0.25%; float:left;padding: 2% 0;}
.sub0105_st_01 li img{border:1px solid #eee; width:95%;}
.sub0105_st_01 li .t{font-size:1.05em; margin-top:10px; font-weight:500;}
.sub0105_st_01 li:nth-of-type(5n)+li{clear:both}

@media all and (max-width:900px) {
	.sub0105_st_01 li{width:32.3%; margin-bottom:20px;}
	.sub0105_st_01 li:nth-of-type(3n)+li{clear:both}
	.sub0105_st_01 li:nth-of-type(4n)+li{clear:unset}
}
@media all and (max-width:500px) {
	.sub0105_st_01 li{width:47%;}
	.sub0105_st_01 li:nth-of-type(2n)+li{clear:both}
	.sub0105_st_01 li:nth-of-type(3n)+li{clear:unset}
}


/* 주요거래처 */
.sub_tit{width:100%; overflow:hidden; font-size:1.4em; font-weight:600;}
.sub_tit span{display:inline-block; width:8px; height:8px; border-radius:100%; border:4px solid #F29A1A; margin-right:8px; }
.sub0106_st_01{width:100%; overflow:hidden;}
.sub0106_st_01 li{text-align:center; width:24%; margin:0.25%; float:left;  padding:1% 0 2%;}
.sub0106_st_01 li .img{border:1px solid #eee; padding:2% 0;}
.sub0106_st_01 li .t{font-size:1.1em; margin-top:10px; font-weight:500;}
.sub0106_st_01 li .c{font-size:0.96em; margin-top:5px;}
.sub0106_st_01 li:nth-of-type(4n)+li{clear:both}

@media all and (max-width:900px) {
	.sub0106_st_01 li img{width:85%}
}
@media all and (max-width:750px) {
	.sub0106_st_01 li{width:32.3%;}
	.sub0106_st_01 li:nth-of-type(3n)+li{clear:both}
	.sub0106_st_01 li:nth-of-type(4n)+li{clear:unset}
}
@media all and (max-width:500px) {
	.sub0106_st_01 li{width:48%;}
	.sub0106_st_01 li:nth-of-type(2n)+li{clear:both}
	.sub0106_st_01 li:nth-of-type(3n)+li{clear:unset}
}

.sub0106_st_02{overflow:hidden; margin-bottom:6em;}
.sub0106_st_02 li{width:32%; float:left; margin:0 0.5% 0%;}
.sub0106_st_02 li .img_bx img{width:100%;}
.sub0106_st_02 li .txt_bx{padding:5% 0 5%;}
.sub0106_st_02 li .txt_bx .t{margin-top:10px;}

@media all and (max-width:1000px) {
	.sub0106_st_02 li .txt_bx img{height:70px}
}
@media all and (max-width:850px) {
	.sub0106_st_02 li{width:49%;}
}
@media all and (max-width:500px) {
	.sub0106_st_02 li .txt_bx img{height:55px}
}

/*  오시는길  */
.sub0107 .map_wrap .root_daum_roughmap_landing{width:100% !important;}
.sub0107 .map_wrap .map_border,
.sub0107 .map_wrap .wrap_controllers{display:none !important}

.map_add_wrap{width:100%; overflow:hidden; padding:2.4em 0; font-size:2em; box-sizing:border-box;}
.map_box_wrap{width:100%; overflow:hidden; margin:0em 0 6em; border:1px solid #ddd; display:flex;}
.map_box_wrap .map_bx{width: 25%; float:left; box-sizing:border-box; border-left:1px dotted #ddd; padding:3em 10px; align-items:stretch;}
.map_box_wrap .map_bx:first-child{border:0;}
.map_box_wrap .map_bx .t{line-height:1em; font-size:1.2em; font-weight:500; color:#FAA521; margin:10px auto 20px;}
.map_box_wrap .map_bx a.bt{display:inline-block; background:#ddd; padding:3px 8px 2px; margin:3px;}
.map_box_wrap .map_bx a.bt:hover{font-weight:500; color:#FFF; background:#333;}

@media all and (max-width:650px) {
	.map_add_wrap{padding:2em 10px; font-size:1.8em}
	.map_add_wrap br.mo{display:block}
	.sub0107 .root_daum_roughmap .wrap_map{height:300px !important;}
	.map_box_wrap{display:block;}
	.map_box_wrap .map_bx{width:50%;border-top:1px dotted #ddd; padding:1.5em 10px}
	.map_box_wrap .map_bx:nth-of-type(2){border-top:0;}
	.map_box_wrap .map_bx:nth-of-type(2n)+.map_bx{clear:both}
	.map_box_wrap .map_bx img{height:40px;}
	.map_box_wrap .map_bx .t{margin:10px auto;}
}


/**/
.sub02_w_inner{overflow:hidden; box-sizing:border-box; color:#FFF; background:#f99700 url('/dogproject/images/sub/sub0201_img_00.png') no-repeat center center;  text-align:center; margin:0 auto;}
.sub02_w_inner .tt{font-size:2.6em; padding:2em 0 2.5em}

.sub02_pro_wrap{overflow:hidden; box-sizing:border-box; padding:0 1.5%; margin-top:-2.5em; }
.sub02_bx{width:24%; float:left; margin:0.5%; overflow:hidden; }
.sub02_bx:nth-of-type(4n)+.sub02_bx{clear:both}
.sub02_bx .img{}
.sub02_bx .img img{width:100%; }
.sub02_bx .txt{width:100%; border:1px solid #eee; border-top:0; padding:0 15px 15px; box-sizing:border-box;}
.sub02_bx .txt .n{ position:relative; z-index:1; width:40px; height:40px; line-height:40px; margin:-20px auto 10px; font-size:0.9em; border-radius:100%; background:#FFA300; color:#FFF; text-align:Center;}
.sub02_bx .txt .t{text-align:center; font-size:1.3em; font-weight:600; }
.sub02_bx .txt .line{width:100%; height:7px; background:url(/images/common/bg_st_01.png) repeat 0 0 ; margin:15px auto;}
.sub02_bx .txt .c{}
.sub02_bx .txt .c b{display:block; font-size:1.05em; padding-left:15px; position:relative; padding-bottom:7px; font-weight:500;}
.sub02_bx .txt .c b:before{content:""; width:3px; height:12px; background:#FFA300; display:inline-block; transform: rotate(-45deg); position:absolute; left:0; top:6px}
.sub0202 .sub02_bx .txt .c b:before{background:#92D050}
.sub0202 .sub02_bx .txt .n{background:#92D050}
.sub02_bx .txt .c span{display:block; font-size:0.9em; padding-left:15px;}
@media all and (max-width:1000px) {
	.sub0202 .sub02_w_inner .tt{font-size:2.2em; padding:2em 0 2em}
}
@media all and (max-width:850px) {
	.sub02_bx{width:32%;}
	.sub02_bx:nth-of-type(3n)+.sub02_bx{clear:both}
	.sub02_bx:nth-of-type(4n)+.sub02_bx{clear:unset}
	.sub0202 .sub02_w_inner .tt br.mo{display:block}
}

@media all and (max-width:550px) {
	.sub02_w_inner br.mo{display:block;}
	.sub02_w_inner .tt{font-size:2.4em; padding:1.5em 0 3em}
	.sub02_bx{width:48%; margin:1% 1% 2.5%;}
	.sub02_bx:nth-of-type(2n)+.sub02_bx{clear:both}
	.sub02_bx:nth-of-type(3n)+.sub02_bx{clear:unset}

	.sub02_bx .txt{padding:0 10px 10px}
	.sub02_bx .txt .n{width:30px; height:30px; line-height:30px; margin:-15px auto 10px;}
	.sub02_bx .txt .line{height:5px; margin:10px auto;}
	.sub02_bx .txt .t{font-size:1.3em;}
	.sub02_bx .txt .c b:before{width:3px; height:9px; top:2px}
	.sub02_bx .txt .c b{font-size:1.0em; padding-left:10px;}
	.sub02_bx .txt .c span{font-size:0.85em; padding-left:10px;}
}

.sub0201_con_wrap{width:100%; overflow:hidden; margin-bottom:10em; position:relative; margin-top:6em; padding-top:6em}
.sub0201_con_wrap:after{content:""; position:absolute; top:0; left:0; width:100%; height:30%; background:#f9f9f9; z-index:-1; }
.sub0202 .sub0201_con_wrap:after{content:""; position:absolute; top:0; left:0; width:100%; height:50%; background:#f9f9f9; z-index:-1; }
.sub0202 .sub0201_con_wrap iframe{margin:0 auto;}

.sub0201_t_wrap{width:100%; overflow:hidden; margin-top:10em; margin-bottom:4em;}
.sub0201_con_wrap .sub0201_t_wrap:first-child{margin-top:0;}
.sub0201_t_wrap .s{font-weight:400; text-decoration:underline;}
.sub0201_t_wrap .t{font-size:2em; font-weight:600; line-height:1.3em; margin:15px auto 15px}

.sub0201_c_wrap{width:100%; overflow:hidden; }
.sub0201_c_wrap .c_box{width:42%; float:left; text-align:left; }
.sub0201_c_wrap .c_box:nth-of-type(2n){float:right}
.sub0201_c_wrap .c_box .t{font-size:1.6em; font-weight:600; line-height:1em; margin:30px auto;}
.sub0201_c_wrap .c_box .c li{margin-bottom:10px; padding-left:15px; text-indent:-14px;}
.sub0201_c_wrap .c_box .c li:before{content:"·"; margin-right:5px; color:#FFA300; font-weight:900; }

@media all and (max-width:1280px) {
}
@media all and (max-width:1100px) {
	.sub0202 .sub0201_con_wrap iframe{width:100% !important; height:465px !important;}
	.sub0201_c_wrap .c_box .i img{width:100%}
	.sub0201_c_wrap .c_box{width:49%}
}
@media all and (max-width:750px) {
	.sub0201_c_wrap.one .c_box{width:70%;}
		.sub0202 .sub0201_con_wrap iframe{height:400px !important;}

}

@media all and (max-width:550px) {
	.sub0201_c_wrap{}
	.sub0201_c_wrap .c_box{width:90%;}
	.sub0201_c_wrap.one .c_box{width:90%;}
	.sub0201_c_wrap .c_box{float:unset; margin-left:auto; margin-right:auto;}
	.sub0201_c_wrap .c_box:nth-of-type(2n){float:unset; margin-left:auto; margin-right:auto;}
	.sub0202 .sub0201_con_wrap iframe{height:300px !important;}
}


/**/
.sub0202_wrap{width:100%; overflow:hidden; position:relative; margin-bottom:5em}
.sub0202_wrap>.line{top:0;width:1px; height:100%; position:absolute; background-color:#ddd; left:50%;}
.sub0202_wrap .ment_box_wrap{width:100%; overflow:hidden; margin:4em auto; position:relative;}
.sub0202_wrap .ment_box_wrap:before{content:""; width:20px; height:20px; position:absolute; left:50%; top:50%; margin-left:-10px; margin-top:-10px; background:url(/images/common/icon_st_02.png) no-repeat center center; z-index:1;}
.sub0202_wrap .ment_box_wrap>div{width:50%; float:left; box-sizing:border-box; }
.sub0202_wrap .ment_box_wrap .txt_box{float:right; text-align:left; padding-left:30px;}
.sub0202_wrap .ment_box_wrap:nth-of-type(2n) .txt_box{float:left; text-align:right; padding-right:30px;}
.sub0202_wrap .ment_box_wrap .txt_box .c{padding:3.7em 0;}
.sub0202_wrap .ment_box_wrap .img_box{float:left; text-align:right; padding-right:30px;}
.sub0202_wrap .ment_box_wrap:nth-of-type(2n) .img_box{float:right; text-align:left; padding-left:30px;}
.sub0202_wrap .ment_box_wrap .txt_box span{font-size:0.7em; letter-spacing:0.9em}
.sub0202_wrap .ment_box_wrap .txt_box .tit{font-weight:500; font-size:1.4em; margin:10px 0;}

@media all and (max-width:850px) {
	.sub0202_wrap .ment_box_wrap .img_box img {width:100%}
	.sub0202_wrap .ment_box_wrap .txt_box .c{padding:2em 0;}
}
@media all and (max-width:650px) {
	.sub0202_wrap>.line{left:10px;}
	.sub0202_wrap .ment_box_wrap:before{left:10px; top:75px;}
	.sub0202_wrap .ment_box_wrap>div{width:100%; float:left; box-sizing:border-box; }
	.sub0202_wrap .ment_box_wrap .img_box{float:left !important; padding-left:30px !important; text-align:left !important; padding-right:10px !important}
	.sub0202_wrap .ment_box_wrap .txt_box{float:left !important; padding-left:30px !important; text-align:left !important; padding-right:10px !important}
	.sub0202_wrap .ment_box_wrap .img_box img {width:100%; max-width:400px;}
}

/**/
.sub03_wrap{overflow:hidden; margin-bottom:6em;}
.sub03_wrap>div{width:50%; float:left;}
.sub03_wrap .t{font-size:2em; font-weight:600; line-height:1em; margin:1em auto 0;}
.sub03_wrap .s{font-size:1.2em; margin:1em auto 1em;}
.sub03_wrap .c li{margin-bottom:10px }
.sub03_wrap .c li:before{content:"·"; margin-right:5px; color:#FFA300; font-weight:900; }
.sub03_wrap .img_wrap{margin-top:2em;}
.sub03_wrap .img_wrap>div{width:49.5%; margin:0 0.25%; float:left;}

@media all and (max-width:1000px) {
	.sub03_wrap .img_wrap>div{width:80%; margin:0 auto 20px; float:unset;}
}
@media all and (max-width:700px) {
	.sub03_wrap>div{width:100%; float:left;}
	.sub03_wrap .img_wrap>div{width:49%; margin:0 0.5% 0px; float:left;}
}

.sub03_cau_wrap{overflow:hidden; }
.sub03_cau_bx1{text-align:center;}
.sub03_cau_bx1>div{display:inline-block; vertical-align:bottom;}
.sub03_cau_bx1>div.img img{height:190px;}
.sub03_cau_bx1>div.txt .t{ font-size:1.7em; font-weight:600; margin-bottom:10px}
.sub03_cau_bx1>div.txt{box-sizing:border-box; text-align:left; vertical-align:top; padding:27px;}
.sub03_cau_bx1>div.txt .c li{}
.sub03_cau_bx1>div.txt .c a{margin-top:10px; display:inline-block; font-size:0.96em; color:#FFF; padding:10px 15px; margin-right:5px; background:#FFA300}
.sub03_cau_bx1>div.txt .c a:last-child{background:#8DC74B}
.sub03_cau_bx1>div.txt .c a:hover{text-decoration:underline;}

.sub03_cau_bx2{text-align:Center; width:100%; color:#444; overflow:hidden; border:1px solid #79BDE8; box-sizing:border-box; font-size:15px; margin-bottom:20px; padding:8px 10px;}
.sub03_cau_bx2:before{content:"!"; font-size:13px; color:#78BDE8; width:18px; height:18px; line-height:18px; margin-right:8px; display:inline-block; border:1px solid #78BDE8; border-radius:100%;  text-align:Center;}

@media all and (max-width:570px) {
	.sub03_cau_bx1>div{}
	.sub03_cau_bx1>div.txt .c li{font-size:0.95em}
	.sub03_cau_bx1>div.txt .c a{margin-top:15px; display:inline-block; font-size:0.94em; color:#FFF; padding:10px 10px; margin-right:5px; background:#FFA300}

	.sub03_cau_bx1>div.img img{height:auto; width:100%; vertical-align:bottom;}
	.sub03_cau_bx1>div.img{width:30%; text-align:left; }
	.sub03_cau_bx1>div.txt {vertical-align:bottom; width:66%; padding:30px 0;}
}
@media all and (max-width:500px) {
	.sub03_cau_bx1>div.txt .c a{margin-top:10px; font-size:0.94em;padding:10px 12px;}
	.sub03_cau_bx1>div.img{display:none;}
	.sub03_cau_bx1>div.txt {vertical-align:bottom; width:100%; padding:0px 0 20px; float:left; text-align:center; }
	.sub03_cau_bx2{font-size:13px; padding:7px 7px;}
}
@media all and (max-width:400px) {
	.sub03_cau_bx1>div.txt .c li{margin-bottom:10px;}
	.sub03_cau_bx1>div.txt .c a{width:180px; padding:10px 0px; margin-top:5px;}
}

.mySec{width:48%;margin: 1%;overflow:hidden;}
.mySec1{}
.mySec1 .myInfo{border:1px solid #dfdfdf;padding:20px 30px;box-sizing: border-box;float: left;width: 100%;margin-bottom:3%;}
.mySec1 .myInfo .myImg{border-radius : 50%;background:#eee;width: 132px;height: 132px;overflow: hidden;}
.myContents{width:calc(100% - 172px);}
.myContents span{line-height: 8vw;font-size:30px;}
.myContents button{padding: 5px 23px;border-radius: 50px;border: 1px solid #dfdfdf;}
.mySec1 .myBtnWrap{border:1px solid #dfdfdf;box-sizing: border-box;float: left;width: 100%;}
.mySec1 .myBtnWrap div{width:100%;}
.mySec1 .myBtnWrap div:nth-child(2){border-top:1px solid #eee;border-bottom:1px solid #eee;}
.mySec1 .myBtnWrap div a{padding:10px 0;width:100%;text-align:center;display: inline-block;padding: 16px 0;}
.mySec2 {border: 1px solid #dfdfdf;height: 366px;}
.mySec2 .myHeader{padding: 16px 0;border-bottom:1px solid #dfdfdf; display:inline-block; width:100%; text-align:center}
.mySec2 .myMessage{width:100%; padding:3% 2%;overflow: scroll; height: 100%;}
.mySec2 .myMessage p{width:100%; margin-bottom:1%; padding:2% 3%; background-color:#eee; border-radius:20px; box-sizing:border-box;}
.mySec2 .myMessage table{width:100%;}
.mySec2 .myMessage table tr{border-bottom:1px dashed #ddd}
.mySec2 .myMessage table tr td{padding:10px}
.mySec2 .myMessage table tr th{padding:10px}
.mySec2 .myMessage table thead tr{border-bottom:1px solid #ddd}

.mySec3{border: 1px solid #dfdfdf;margin: 1%;overflow:hidden;box-sizing:border-box;}
.mySec3 .myHeader{padding: 16px 0;border-bottom:1px solid #dfdfdf; display:inline-block; width:100%; text-align:center}
.mySec3 .dogInfoWrap {width:100%; padding:3% 2%;overflow: scroll; height: 308px;}
.mySec3 .dogInfoWrap ul{overflow:hidden}
.mySec3 .dogInfoWrap ul li{float:left; width: calc(33.3% - 2%); margin: 0 1% 2%; }
.mySec3 .dogInfoWrap ul li .dogInfo{padding:15px;overflow: hidden; border:1px solid #dfdfdf; border-bottom:none;}
.mySec3 .dogInfoWrap ul li .dogInfo .dogImg{width:100px; height:100px; background:#333; border-radius:50%;}
.mySec3 .dogInfoWrap ul li .dogInfo .pname{width: calc(100% - 120px); float: right;line-height: 100px;}
.mySec3 .dogInfoWrap ul li .dogInfo .pname span{font-size: 0.8em; margin-left: 10px; color: #ffa300;}
.mySec3 .dogInfoWrap ul li .dogInfo2{padding:15px; border:1px solid #eee; overflow: hidden;} 

.myhistory{margin-bottom: 30px;}
.myhistory .myBtnWrap{border:1px solid #dfdfdf;box-sizing: border-box;display:table;width: 100%;}
.myhistory .myBtnWrap div{width: 33.3%; display: table-cell;}
.myhistory .myBtnWrap div:nth-child(2){border-right:1px solid #eee;border-left:1px solid #eee;}
.myhistory .myBtnWrap div a{padding:10px 0;width:100%;text-align:center;display: inline-block;padding: 16px 0;}
.myhistory .myBtnWrap div.active{background-color: #ffad18;}
.myhistory .myBtnWrap div.active a{color:#fff; font-weight:bold}
@media all and (max-width:700px) {
	.mySec { width: 100%;margin: 1% 0;}
	.mySec3 {margin:0}
	.mySec3 .dogInfoWrap ul li {width: calc(50% - 2%);}
	.mySec2 {height: 300px;}
}
@media all and (max-width:650px) {
	.mySec3 .dogInfoWrap ul li {width: 100%; margin: 0 0 2%;;}
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.warning {background-color: #ff9800;
    position: fixed;
    width: calc(50% - 20px);
    top: 0;
    left: 50%;
    margin: 10px;
    z-index: 9999;
    transform: translateX(-50%);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.disti{ 
    margin: 0 auto;
   color:#fff;
    padding: 7px;
    border-radius: 10px;
    display:inline-block;
    }
